server:
  port: ${SERVER_PORT}
  address: ${SERVER_ADDRESS}
  servlet:
    context-path: /consultaPesaje-backend
spring:
  config:
    import: optional:file:.env[.properties]
    
  datasource:
    consulta-pesaje:
      driver-class-name: org.postgresql.Driver
      jdbc-url: jdbc:postgresql://${DB_HOST_CP}/${DB_SCHEMA_CP}
      username: ${USERNAME_CP}
      password: ${PASSWORD_CP}
      hibernate-hbm2ddl-auto: update
      show-sql: true
    soa-tam:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_TAM}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-psg:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_PSG}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-yac:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_YAC}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-vil:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_VIL}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-ber:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_BER}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-pam:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_SCZ}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-war:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_WAR}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    soa-chb:
      driver-class-name: oracle.jdbc.OracleDriver
      jdbc-url: jdbc:oracle:thin:@${DB_HOST_SOA_CHB}:${DB_PORT_SOA}:${DB_SCHEMA_SOA}
      username: ${USERNAME_SOA}
      password: ${PASSWORD_SOA}
      hibernate-hbm2ddl-auto: none
    
security:
  oauth2:
    resource:
      filter-order: 3
  signing-key: ${SIGNIN_KEY}
  encoding-strength: ${ENCODING_STRENGTH}
  security-realm: Spring Boot JWT
  jwt:
    client-id: ${CLIENT_ID}
    client-secret: ${CLIENT_SECRET}
    grant-type: ${GRANT_TYPE}
    scope-read: read
    scope-write: write
    resource-ids: ${RESOURCE_ID}
    
property: false